.add-bar {
  background-color: #4092d0;
  padding: 5 10;
}
.add-bar Image {
  height: 15;
  vertical-align: center;
  margin-left: 10;
  margin-right: 5;
}
TextField {
  color: white;
}
.action-image {
  width: 40;
  height: 40;
  vertical-align: center;
}